$color-gray:#44414f;
$color-gray2:#c5c5c5;
$color-gray3:#D1D1D1;
$color-white:#fff;
$color-black:#000;
$color-green:#90ee90;
$color-yellow:#ffff00;
$color-blue:#013068;
$color-red:#cc0000;
$color-lightblue:#e9efff;
// basic colors
$color-lightgray:#EFEFEF;
$color-gray4:#6B6B6B;
$color-dark:#545454;
$color-navy:#202938;
$color-orange:#FF6713;
$color-primary:$color-gray;
$color-secondary:$color-navy;